/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor del formulario */
.contenedorFormulario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Formulario */
#formulario {
    padding: 20px;
    flex-direction: column; 
    height: 90%;
}

/* Cuerpo del formulario */
.cuerpoFormulario {
    border: 2px solid white;  
}

/* Cuerpo del formulario con contraste */
.cuerpoFormularioContraste {
    border: 2px solid rgb(72, 72, 72);
    .itemCuerpoFormulario{
        input{
            background-color: rgb(51, 51, 51);
            border: 2px solid rgb(72, 72, 72);
            color: whitesmoke;
        }
        input::placeholder{
            color: white;
        }
    }
}

/* Item del cuerpo del formulario */
.cuerpoFormulario .itemCuerpoFormulario {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 3px;
    color: white;
    input{
        padding: 2px;
    }
}

/* Botón enviar */
.cuerpoFormulario #botonEnviar {
    margin: 10px;
    width: 350px;
    border: 2px solid rgb(77, 62, 211);
    padding: 7px;
    background-color: rgb(77, 62, 211);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

/* Fondo del formulario con estilo 1 */
.fondoEstilo1 {
    background-color: rgb(83, 83, 83);
}

.itemCuerpoFormulario{
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 5px;
}

.itemCuerpoFormularioBorde{
    #item{
        border: 2px solid rgb(51, 51, 51); 
    }
}

/* Botones de estilos */
#botonesEstilosFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#botonesEstilosFormulario button {
    width: 120px;
    padding: 5px;
    background-color: rgb(77, 62, 211);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border: 2px solid rgb(77, 62, 211);
}

/* Fondo de alto contraste */
.fondoAltoContraste {
    background-color: black;
}

/* Botones con alto contraste */
.botonesEstilosAltoContraste #botonEnviar, 
.botonesEstilosAltoContraste #botonEstilo1, 
.botonesEstilosAltoContraste #botonEstiloAltoContraste {
    background-color: rgb(255, 214, 2);
    color: black;
    border: 2px solid rgb(255, 214, 2);
}

/* Estilo del título */
h3 {
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Efecto hover en botones */
#botonEnviar:hover,
#botonEstilo1:hover,
#botonEstiloAltoContraste:hover {
    cursor: pointer;
}
